  .banner {
    width: 100%;
    height: 100vh;
    position: relative;
  }
  .banner-text {
    position: absolute;
    top: 44%;
    left: 50%;
    text-align: center;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
  .banner-text h1 {
    color: #fff;
    margin-bottom: 8px;
  }
  .banner-text h4 {
    letter-spacing: 0.03em;
    color: #fff;
  }
  .banner-text .btn {
    margin-top: 24px;
  }

  .banner-1 {
    background: url(../img/banner2.jpg) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }